# Databricks
.databricks/
databricks.yml


# IDE / Editor
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
*.csv
*.parquet
*.sqlite3

# OS Files
.DS_Store
crawler/storage
neo4j_credentials.txt